@{
    ViewData["Title"] = "Home";
}
<h2 class="mb-4">Productos</h2>
<div class="container">
    <div class="row">
        <div class="col-9">
            <form class="d-flex ms-auto me-3">
                <input class="form-control search-bar" type="search" placeholder="Buscar" aria-label="Buscar">
            </form>
        </div>
        <div class="col-1">
            <div class="custom-select-wrapper">
                <select class="custom-select product-select">
                    <option value="1">asasaasass1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
</div>
